.autoCenter{
    width: 100%;
    margin: 0 auto;
}

.autoCenterFlex{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.marginTop{
    margin-top: 100px;
}



.container-photo{
    margin: 20px auto;
    width: 500px;
    height: auto ;
    
}

.container-photo > img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}




.filter-group {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	background: #fff;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	max-width: 100%;
}
	
ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 2rem;
    align-content: flex-start;
    align-items: stretch;
    padding: 1rem;
}

#image-group {
    width: 100%;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
#image-group > img {
    max-width: 100%;
    height: auto;
} 

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

label {
    font-family:'Helvetica Neue', sans-serif;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
}

input {
    flex: 1 1 50%;
    margin: 0 1rem;
}






.details-container > div {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.details-container span{
    margin-left: 10px;
}

